body
{
    margin: 0px;
    background-image: url('../img/bg_main.jpg');    
}

header
{
    width: 100%;
    height: 100px;
}

.filterContainer
{
    padding-top: 35px;
}

.filterContainer .filterGroup
{
    background-position: 0px -80px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    border-bottom: 1px solid #5CB418;
    border-top: 1px solid #70D621;
    color: #ffffff;
    font: bold 16px Arial;
    background-color: #64C21B;
    background-repeat: repeat-x;
    margin: 0px;
}

.filterContainer .filterGroup:hover
{
    background-color: #399B0A;
}

.filterContainer .filterGroup:hover
{
    cursor: pointer;
}

.filterContainer .filterGroupBody
{
    height: auto;
    background-color: #707070;
    display: none;
}
.filterContainer .textInput
{
    padding-top: 20px;
    padding-bottom: 20px;    
}

.filterContainer .filterGroupBody input[type="text"]
{
    border: 0px solid #000000;
    height: 30px;
    width: 250px;   
    margin: 0 auto;
    display: block;    
}

.filterContainer .filterGroupBody .districtItem
{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 18px;
    color: #ffffff;
    font: normal 14px Arial;
    background-color: #707070;    
    margin: 0px;
    height: 16px;
    border-bottom: 1px solid #606060;
    border-top: 1px solid #7E7E7E;
}

.filterContainer .filterGroupBody .districtItem:first-child
{
    border-top: none;
}

.filterContainer .filterGroupBody .districtItem:last-child
{
    border-bottom: none;
}

.filterContainer .filterGroupBody .districtItem:hover
{
    cursor: pointer;
}

.filterContainer .filterGroupBody .districtItem span
{
    display: block;
    float: left;
}

.filterContainer .filterGroupBody .rankingBody
{
    background-position: 0px -40px;
    background-repeat: repeat-x;
    background-color: #707070   ;
}

.filterContainer .filterGroupBody .rankingItem
{
    
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 18px;
    color: #ffffff;
    font: normal 14px Arial;    
    margin: 0px;
    height: 56px; 
}

.sliderContainer
{
    width: 90%;
}

.filterContainer .filterGroupBody .rankingItem:last-child
{
    border-bottom: none;
}

.filterContainer .filterGroupBody .rankingItem h1
{
    color: #ffffff;
    font: bold 14px Arial;
}

.filterContainer .filterGroupBody .selected div
{
    float: right;
    background-image: url('../img/check.png');
    background-repeat: no-repeat;
    height: 16px;
    width: 32px;
}

.tab-pane
{
    min-height: 240px;
    background-color: #ffffff;   
    
}

.filteredItemsContainer
{
    margin-top: 0px;  
    border-top: none;
}



.filteredClubsContainer
{
    background-color: #ffffff;
    padding: 10px;    
    min-height: 205px;
    padding-bottom: 25px;
}

.filteredClubsContainer ul
{
    margin: 0px;
    list-style: none;
    padding: 0px 0px 0px 20px;    
}

/* Overrideing twitter bootstrap tabs */
.nav-tabs
{
    list-style: none;
    display: table;
    margin-bottom: 0px;  
    width: 100%;  
    padding: 0px;
    position: relative;
    bottom: -5px;
    border-bottom: none;
    margin-top: 0px;
}

.nav-tabs > li
{
    list-style: none;
    display: list-item;
    float: left;
    line-height: 30px;    
    width: 50%;
    text-align: center;
    background-color: #f1f1f1;
}

.nav-tabs li a
{
    color: #b1b1b1;
    padding: 0px;
    line-height: 30px;
}

.nav-tabs .active a
{
    color: #ffffff;
    background-color: transparent;
    border: none;
    line-height: 35px;
}

.nav-tabs li a:hover
{
    text-decoration: none;
}

.nav-tabs li:hover
{
    cursor: pointer;
    background-color: #d1d1d1;
}

.nav-tabs .active
{
    color: #ffffff;   
    line-height: 35px;
    position: relative;
    bottom: 5px;
    background-color: #64C21B;
}

.nav-tabs .active:hover
{
    background-color: #64C21B;
    cursor: default;
}

.tab-content .tab-pane
{
    display: none;   
}

.tab-content .active
{
    display: block;   
}